body {
    position: relative;
    width: 1440px;
    height: 2590px;
    background: linear-gradient(119.94deg, #000000 0%, rgba(181, 0, 0, 0.81) 110.98%);;
}

/*.header{*/
/*    position: absolute;*/
/*    width: 82.88px;*/
/*    height: 26px;*/
/*    left: 397.7px;*/
/*    top: 74px;*/

/*    font-family: Montserrat;*/
/*    font-style: normal;*/
/*    font-weight: 300;*/
/*    font-size: 21px;*/
/*    line-height: 26px;*/
/*    background: black;*/
/*    position: absolute;*/
/*    width: 1440px;*/
/*    height: 154px;*/
/*    left: 0px;*/
/*    top: 0px;*/
/*}*/