body {
    position: relative;
    background: linear-gradient(119.94deg, #000000 0%, rgba(181, 0, 0, 0.81) 110.98%);;
    width: auto;
}
.poster > img {
    height: 270px;
    border-radius: 20px;
    box-shadow: 3px 3px 5px
    rgba(0, 0, 0.3, 0.5);
}
.movie{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 10px;
    background:#FFFFFF;
    border-radius: 20px;
    padding: 10px 20px 40px;
}
.movieContainer{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-left: 8%;
    padding-top: 150px;
}

.header {
    position: absolute;
    width: 3000px;
    height: 100px;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
    background: black;
    display: flex;
}

.movie-info{
    display: flex;
    flex-flow: column;
    align-content: center;
}
.search{
    border-radius: 2px;
}